.popup__submit-btn {
  margin-top: 62px;
  padding: 14px 125px;
  border: none;
  box-shadow: none;
  background: #000000;
  border-radius: 2px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.popup__submit-btn:hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

@media (max-width: 676px) {
  .popup__submit-btn {
    margin-top: 45px;
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
  }
}
