.edit-form__userjob {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  padding: 0;
  margin: 30px 0 0;
  position: relative;
}

.edit-form__userjob::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #000;
  opacity: 0.2;
}
